
body {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(235, 229, 229);
    height: 100vh;
    
}

header {

    filter: brightness(87%);
    max-width: 100%;
    height:100vh;
    background-image: url(image-asset.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.logo,
h1 {
    color: white;
    font-size: 45px;
    margin: 0;
    margin-top: 0px;
    text-shadow: 2px 1px 1px black;
}

.container {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
}
.button-banner{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 50px;
    
}

.nav-bar {
    width: 800px;
    display: flex;
    justify-content: space-evenly;
   
}

nav ul {
    width: 400px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0px;

}

ul,
a {
    text-decoration: none;
    list-style-type: none;
    color: white;
    font-size: 23px;
    text-shadow: 2px 1px 1px rgb(36, 34, 34);
    margin: 0;
}

ul :hover {
    border-bottom: 1px solid white;
    cursor: pointer;
    font-size: 23px;
    border-radius: 2px 2px 1px black;
    cursor: pointer;
}

.nav-button {
    padding-top: 50px;
    
}

button {
    padding: 18px;
    border-radius: 10px;
    border: 1px solid whitesmoke;
    font-weight: bold;
    color: white;
    background-color: rgb(240, 163, 112);
    transition: opacity 0.3s ease;
}

button:hover {
    background-color: rgb(189, 113, 63);
    color: white;
    cursor: pointer;
    opacity: 0.7;

}

#texto-banner {
    font-size: 25px;
    width: 800px;
    color: rgb(253, 253, 250);
    text-shadow: 2px 2px 4px rgb(33, 32, 32);
}

.h2-banner {
    position: absolute;
    bottom: 38px;
    color: white;
    text-shadow: 2px 2px 4px rgb(33, 32, 32);
    font-size: 25px;
    font-family: sans-serif;
    margin-left: 100px;
    width: 700px;
}

.container-abordagem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    padding-bottom: 100px;
}

.titulo-aboradagem {
    padding-bottom: 20px;
    color: black;
    font-size: 45px;
    font-weight: normal;

}

.paragrafo-abordagem {
    max-width: 500px;
    line-height: 1.6;
    font-size: 20px;

}

.container-consulta-paciente {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 100px;
}

.texto-consulta-paciente {
    width: 500px;
    text-align: center;
}

.container-localizacao {
    display: flex;
    justify-content: space-evenly;
    padding-top: 85px;
    padding-bottom: 100px;
}

iframe {
    width: 450px;
    height: 350px;
}

.serviços {
    background-color: #495A58;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 50px;

}

#serviços {
    color: white;
    font-size: 45px;
    font-weight: normal;
}

li.lista-itens {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    list-style-type: none;
    
}
.container-lista-itens{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
